@{
	ViewData["Title"] = "Página Inicial";
}
<style>
	body {
		background-color: aliceblue
	}
</style>

<div class="container py-5">

	<img class="h-100 w-100 fw-bolder" src="~/img/ChatGPTImage.png" />
	<div class="col-md-8"></div>

</div>
<div class="text-center mb-5">
	<h1 class="display-4 fw-bolder"><i class="bi bi-suit-heart"></i> INTERCLASSES SENAI</h1>
	<p class="lead text-muted">Gerencie seus times de uma forma simples e eficiente!</p>
	<a asp-controller="Tarefas" asp-action="Index" class="btn btn-outline-dark btn-lg btn-sm btn-">Ver Os Times</a>
</div>

<div class="row text-center">



	<div class="col-12 col-md-4 mb-4">
		<div class="card w-75 mb-3 w-100">
			<div class="card-body">
				<h5 class="card-title">Adicionar Times</h5>
				<p class="card-text">Adicione o seu time, para se preparar ao grande campeonato!</p>
				<a href="#" class="btn btn-outline-dark">Inscreva-se</a>
			</div>
		</div>

	</div>

	<div class="col-12 col-md-4 mb-4">

		<div class="card w-75 mb-3 w-100">
			<div class="card-body">
				<h5 class="card-title">Veja a Pontuação dos times</h5>
				<p class="card-text">Veja a pontuação do seu time, para ganhar este grande campeonato!</p>
				<a href="#" class="btn btn-outline-dark">Pontuação</a>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-4 mb-4">

		<div class="card w-75 mb-3 w-100">
			<div class="card-body">
				<h5 class="card-title">Exclua Rascunhos</h5>
				<p class="card-text">Exclua rascunhos que não fazem parte do seu time, bora pra cima!</p>
				<a href="#" class="btn btn-outline-dark">Excluir</a>
			</div>
		</div>
	</div>
</div>