<div class="container py-5">
	<div class="text-center mb-5">
		<h1 class="display-4 fw-bold"><i class="bi bi-info-circle"></i> Sobre A Plataforma.</h1>
		<p class="lead text-muted">Sua paixão é Esportes? é seu momento.</p>
	</div>
	<div class="card mb-5 mx-auto" style="max-width: 350px;">
		<img src="~/imagem/captura de tela 2025-05-30 085207.png" />
		<div class="card-body">
			<h5 class="card-title">Interclasse Jaú</h5>
			<p class="card-text">
				O site de Interclasse foi desenvolvido para centralizar todas as informações dos jogos escolares em um só lugar. Aqui, os usuários poderão acompanhar os times participantes, inclusive de outras escolas, além de conferir a tabela de pontuação, resultados atualizados e próximos confrontos. O espaço também traz destaques das partidas, rankings, estatísticas e notícias sobre o andamento do torneio.

				Nosso objetivo é facilitar o acesso às informações, tornando a competição mais organizada, transparente e divertida para jogadores, professores e torcedores. Assim, todos poderão acompanhar de perto o desempenho das equipes e vibrar com cada vitória.
			</p>

			<a asp-controller="Home" asp-action="Index" class="btn btn-info btn-lg btn-sm btn-">Voltar a tela incial</a>
			<a href="https://github.com/RayaneF03" class="btn btn-info btn-lg btn-sm btn-">GitHub</a>

		</div>
	</div>
</div>